// Import Google fonts
 @import url('https://fonts.googleapis.com/css?family=Roboto|Squada+One&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Squada One", "Helvetica", "sans-serif";

body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  font-weight: bold;
}
